@{
    ViewBag.Title = "Cash Vivrani";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gmou.Web.Models.VivraniViewModel

@using System.Web;
<link href="~/Content/css/normalize.css" rel="stylesheet" />
<link href="~/Content/css/demo.css" rel="stylesheet" />
<link href="~/Content/css/component.css" rel="stylesheet" />
<script src="~/Scripts/Admin/validation.js"></script>
<script src="~/Scripts/LTE/ui/jquery-ui.js"></script>
<link href="~/Scripts/LTE/ui/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/LTE/ui/date.format.js"></script>
<link href="~/Content/jquery.loader.css" rel="stylesheet" />
<script src="~/Scripts/GmouScripts/jquery.loader.js"></script>
<script src="~/Scripts/GmouScripts/jquery.confirm.min.js"></script>
<script src="~/Scripts/GmouScripts/autocompletedropdown.js"></script>


<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
    }


    <style type="text/css" > .txt100 {
        width: 100px;
    }

    .modal-box {
        width: 650px;
    }

    .grdTrHoverEffect td, .grdTrHoverEffect th {
        text-align: left;
        line-height: 30px;
    }

    .grdTrHoverEffect tr:nth-child(2n+1) td {
        background-color: #eeeeee;
    }
</style>

<div id="busInformation">
    <div class="col-md-12 marT20">
        <div class="box box-success">
            <div class="boxHeading">
                <b>Bus Detail</b>
                <a href="" class="pull-right hide" id="ancAddNewStore" title="Add a Store"><i class="fa fa-plus"></i> Add Related Account</a>
            </div>
            <div class="box-body">
                <table id="tblAccount">
                  
                        <tr>
                            <td>
                                Date
                            </td>
                            <td>
                                <h5>@DateTime.Now.ToString()</h5>
                            </td>
                            @*<td>
                                bus number
                            </td>
                            <td>
                                <h5>@Model.busId</h5>
                            </td>*@
                            <td>
                               Virani Serail
                            </td>
                            <td>
                                <span id="spnVivraniNumber"></span>
                            </td>
                        </tr>
                   
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 marT20">
            <div class="box box-success">
                <div class="boxHeading">
                    <b> Fuel Detail</b>
                    <a href="" class="pull-right hide" id="ancAddNewStore" title="Add a Store"><i class="fa fa-plus"></i> Add Related Account</a>
                </div>
                <div class="box-body">
                    <table id="tblAccount">
                        
                            <tr>
                                <td>
                                    Date
                                </td>
                                <td>
                                <input type="date" class=".datepicker" id="txtfuelDate" /> 
                                                               </td>
                                <td>
                                    Fuel Type
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.fueltype, Model.fueltype, new { @class = "txt100PValidBreak", id = "ddlFuelType", accesskey = "a", style = "width: 135px;" })


                                    @*<select id="ddlFuelType" class="txt100">
                                            <option value="patrol ">Patrol </option>
                                            <option value="disal">Disal</option>
                                            <option value="mobioil">Mobioil</option>
                                        </select>*@
                                </td>

                            </tr>
                            <tr>

                                <td>
                                    Chit No
                                </td>
                                <td>
                                    <input type="text" id="txtChttNo" class="txt100" />
                                </td>

                                <td>
                                    Fuel Book 
                                </td>
                                <td>
                                    <input type="text" id="txtBookno" class="txt100" />
                                </td>

                              

                            </tr>

                            <tr>


                                <td>
                                    Fuel Station
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.fuelpump, Model.fuelpump, new { @class = "txt100PValidBreak", id = "ddlPumpName", accesskey = "a", style = "width: 135px;" })


                                    @*<select id="ddlPumpName" class="txt100">
                                            <option value="a">A </option>
                                            <option value="b">B</option>
                                            <option value="c">C</option>
                                        </select>*@
                                </td>
                                <td>
                                    Quantity
                                </td>
                                <td>
                                    <input type="text" id="txtFuelQuantity" class="txt100" value="0" onchange="calcTotalAmount()" onkeypress="return numbersonly(event)" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Price
                                </td>
                                <td>
                                    <input type="text" id="txtPrice" class="txt100" value="0" onchange="calcTotalAmount()" onkeypress="return numbersonly(event)" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Others
                                </td>
                                <td>
                                    <input type="text" id="txtOthers" class="txt100" />
                                </td>

                            </tr>

                        
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="box-footer clearfix" style="padding-right:30px">
        <input type="button" id="btnVivraniDetails" value="Save" class="pull-right btn btn-primary" onclick="saveVivraniDetails()" style="padding:4px 22px 6px 15px;margin-left: 40px;" />
    </div>
    <div style="height:10px"></div>

    <div class="PageContent">
      
        <div>Round Off: <input type="text" id="txtextra"> <input type="submit" value="Update" onclick='calcTotalAmount();' /> </div>
        <div class="PageContentWindow" style="text-align: center; font-size: 12px;">
          
            <table id="EmployeesTable" cellpadding="3px" cellspacing="0px" width="100%" class="grdTrHoverEffect">
                <thead>
                    <tr>
                      
                        <th>
                            Bus Number
                        </th>

                        <th>
                            Waybill No
                        </th>
                        <th>
                            Waybill Serial No
                        </th>
                        <th>
                            Station From
                        </th>

                        <th>
                            Station To
                        </th>
                        <th>
                            Ticket Book No
                        </th>
                        <th>
                            Ticket Series
                        </th>

                        <th>
                            Fare
                        </th>

                    </tr>

                </thead>
            </table>
            <div id="ttlamtttxt" style="text-align: right;margin-right: 51px;" class="hide">Total Amount :- <span id="ttlamt">0</span></div>
 </div>
        <div style="height:10px"></div>
       
       
        <button class="pull-right btn btn-primary" type="button" style="margin-left: 5px;" onclick="CashSheet();"@*location.href='@Url.Action("AddOtherExpences", "waybill")'"*@>
            Genrate Cash Sheet
        </button>&nbsp;&nbsp;
        <button class="pull-right btn btn-primary" type="button"  onclick= "demohit();">@*//"location.href='@Url.Action("AddWaybill", "waybill")'">*@
            Add Waybill
        </button>
        <button class="pull-right btn btn-primary" type="button" onclick="SendSMS();">
            Send Message
        </button>


    </div>





 
    
            <script type="text/javascript">
                function demohit() {
                    $.confirm({
                        text: "क्या आप SMS भेजना चाहते हैं??",
                        confirm: function (button) {
                            alert("oh!! Yes oh yes!!!");
                            SendSMSToOwnwer();
                        },
                        cancel: function (button) {
                            window.location.href = '/waybill/AddWaybill'
                        }
                    });
                   
                  
                }
                function SendSMSToOwnwer() {

                    var vivraninumber = $('#spnVivraniNumber').text();
                    $.ajax({
                        type: "GET",
                        url: '/WayBill/SendSMS?&vivraninumber=' + vivraninumber+'&busid='+ @Model.busId,
                        //data: { 'busId': busId},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data == true) {
                                //window.location.href = '/waybill/AddOtherExpences?&cashid=' + vivraniid
                                alert("SMS sent");
                            }
                        },
                        error: OnError
                    });

                }
                function CashSheet() {
                    $.confirm({
                        text: '<table><tr><td>कृपया यहां कैशशीट संख्या दर्ज करें</td><td>  <input type="text" id="txtvivraniNo" /></td></tr></table>',
                        confirm: function (button) {
                           genrateCasVivraani(getControlValue("txtvivraniNo"));
                        },
                        cancel: function (button) {

                        }
                    });


                }

                function genrateCasVivraani(vivraniid) {
                    ;
                    var busId = getControlValue("ddlBusNumber");
                    $.ajax({
                        type: "GET",
                        url: '/WayBill/GenerateCashSheet?&cashid=' + vivraniid,
                        //data: { 'busId': busId},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data == true) {
                                window.location.href = '/waybill/AddOtherExpences?&cashid=' + vivraniid
                            }
                        },
                        error: OnError
                    });
                }
                function SendSMS() {
                    $.confirm({
                        text: "How are you HEri!!",
                        confirm: function (button) {
                            alert("oh!! Yes oh yes!!!");
                        },
                        cancel: function (button) {
                            alert("oh!! no oh no!!!");
                        }
                    });

                }
                function calcTotalAmount() {
                    var calcAmount = parseFloat(getControlValue("txtextra")) + parseFloat(getControlValue("ttlamt"));;

                    setControlValue("ttlamt", calcAmount);
                    $.ajax({
                        type: "GET",
                        url: '/WayBill/UpdateVivraniAmount',
                        data: { 'vivraniid': getControlValue("spnVivraniNumber"), 'amount': parseFloat(getControlValue("txtextra")) },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                               
                            }
                        }
                    });
                   
                }
                $(function () {
                    $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });

                });
                function DateTimeFunction(id) {
                    var dt = getControlValueN(id);
                    if (dt != null) {
                        var day = dt.split("-");
                        var d = new Date(day[2], day[1], day[0]);
                        return d.toLocaleDateString();
                    }
                }
                $(document).ready(function () {


                    $.ajax({
                        type: "GET",
                        url: '/WayBill/ShowCashVivrani?busId=' + '@Model.busId',
                        //data: { 'busId': busId},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                                var len = data.length;
                                var txt = "";
                                if (len > 0) {
                                    var totalfare = 0;
                                    ;
                                    $("#spnVivraniNumber").text(data[0].VivraniNumber);
                                    for (var i = 0; i < len; i++) {
                                        totalfare = totalfare + data[i].Fare;

                                        txt += "<tr><td>" + data[i].BusNumber + "</td>"
                                                + "<td>" + data[i].WayBillNo + "</td>"
                                                  + "<td>" + data[i].WayBillSerialNumber + "</td>"
                                                + "<td>" + data[i].StationTo + "</td><td>" + data[i].StationFrom + "</td>"
                                                + "<td>" + data[i].TicketNumber + "</td><td>" + data[i].TicketSeries + "</td>>"
                                                 + "<td>" + data[i].Fare + "</td></tr>"
                                    }

                                    if (txt != "") {
                                        $("#EmployeesTable").append(txt);

                                    }
                                    setControlValue("ttlamt", totalfare);
                                    $("#ttlamtttxt").removeClass("hide")
                                }
                            }
                        },


                    });

                });
                            function ShowCashSheetID()
                            {
                                $.confirm({
                                    text: '<table><tr><td>Enter CashSheet Serial number</td><td>  <input type="text" id="txtvivraniNo" /></td></tr></table>',
                                    confirm: function (button) {
                                        genrateCasVivraani(getControlValue("txtvivraniNo"));
                                    },
                                    cancel: function (button) {

                                    }
                                });
                            }

                           
                            function saveVivraniDetails() {
                                debugger;
                                var fuelobj = new Object();
                                fuelobj.VechileNumber= @Model.busId;
                                fuelobj.date = getControlValueN("txtfuelDate");
                                fuelobj.FuelStationID = getControlValueN("ddlPumpName");
                                fuelobj.InsertedBy="";
                                fuelobj.DieselBookno =getControlValueN("txtBookno");
                                fuelobj.ChitNo = getControlValueN("txtChttNo");
                                fuelobj. Comment="";
                                if (getControlValueN("txtOthers") != null) {
                                    fuelobj.Fueltype = getControlValueN("txtOthers");
                                }
                                else {
                                    fuelobj.Fueltype = getControlValueN("ddlFuelType");
                                }

                                
                                fuelobj.FuelQuantity = getControlValueN("txtFuelQuantity");
                               
                                fuelobj.Price = getControlValueN("txtPrice");
                                
                                
                                $.ajax({
                                    type: "POST",
                                    url: '/Fuel/saveFuelDetail1',
                                    data: JSON.stringify(fuelobj),

                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (data) {
                                        if(data==true)
                                        {
                                            alert("Fuel Added Succesfully");
                                            ClearFuel();
                                        }
                                        else
                                            alert("Already Exist");
                                    }
                                });
                            }
                            function showOtherExpences() {
                                var url = "/WayBill/AddOtherExpences";
                                window.location.href = url;
                                
                            }

                            function ClearFuel()
                            {
                                
                               
                                setControlValue("txtfuelDate","");
                                
                               
                               setControlValue("txtBookno","");
                               setControlValue("txtChttNo","");
                               
                                
                               fsetControlValue("txtOthers","");
                                

                                
                               setControlValue("txtFuelQuantity","");
                               
                               setControlValue("txtPrice","");

                            }

            </script>
