@model Gmou.Web.Models.EmployeeModel
@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link href="~/css/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/js/plugins/datepicker/bootstrap-datepicker.js"></script>
<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Edit Empolyee</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                @using (@Html.BeginForm())
                {


                    <div class="col-md-6">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">First Name</label>
                                @Html.TextBoxFor(m=>m.FirstName , new {@class="form-control"})
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Middle Name</label>
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Last Name</label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"> Date Of Birth</label>
                                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Address</label>
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", cols="50", rows="5" })
                               
                            </div>
                            <div class="form-group">
                                <label>City</label>

                                @{
                    var City = new List<SelectListItem>
                                    {
                                        new SelectListItem{Text="Pauri" , Value ="Pauri"},
                                        new SelectListItem{Text="Kotdwar" , Value ="Kotdwar"},
                                        new SelectListItem{Text="Chamoli" , Value ="Chamoli"},
                                        new SelectListItem{Text="Rishikesh" , Value ="Rishikesh"},
                                        new SelectListItem{Text="Haridwar" , Value ="Haridwar"},
                                        new SelectListItem{Text="Srinagar" , Value ="Srinagar"},
                                    };
                                    @Html.DropDownListFor(m => m.City, City, "Select City", new { @class = "form-control"})
                                }
                                 
                            </div>
                            @*<div class="form-group">
                                <label for="exampleInputEmail1">Zip</label>
                               @Html.TextBoxFor(m => m, new { @class = "form-control" })
                            </div>*@
                            <div class="form-group">
                                <label for="exampleInputEmail1">Contact No</label>
                                @Html.TextBoxFor(m => m.Contact, new { @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Home Phone No</label>
                                @Html.TextBoxFor(m => m.EmergencyContact, new { @class = "form-control" })
                            </div>
                            @*<div class="form-group">
                                <label for="exampleInputEmail1">Email address(Optional)</label>
                                @Html.TextBoxFor(m => m., new { @class = "form-control" })
                            </div>*@
                            <div class="form-group">
                                <label for="exampleInputPassword1">Qualification</label>
                                @{
                                 var quali = new List<SelectListItem>
                                    {
                                        new SelectListItem{Text="10th" , Value ="10th"},
                                        new SelectListItem{Text="12th" , Value ="12th"},
                                        new SelectListItem{Text="Graduate" , Value ="Graduate"},
                                        new SelectListItem{Text="PostGraduate" , Value ="PostGraduate"},
                                   
                                    };
                                    @Html.DropDownListFor(m => m.Qaulifiaction, quali, "Select Qaulifiaction", new { @class = "form-control" })
                                }
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date Of Joining</label>
                                @Html.TextBoxFor(m => m.joiningDate, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Employee Type</label>                                 
                                @{
                    var emptye = new List<SelectListItem>
                                    {
                                        new SelectListItem{Text="Part Time" , Value ="PartTime"},
                                        new SelectListItem{Text="Full Time" , Value ="FullTime"},               
                                    };
                                    @Html.DropDownListFor(m => m.Qaulifiaction, emptye, "Select Qaulifiaction", new { @class = "form-control" })
                                }
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" style=" padding-right:10px!important;">Mattrial Status</label>
                                <input type="radio" name="Mattrial Status" value="0"> Single
                                <input type="radio" name="Mattrial Status" value="1"> Married
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Working Office</label>
                                @Html.TextBoxFor(m => m.Office, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Department</label>
                                @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="box-footer clearfix" style="padding-right:30px">
                        <input type="submit" value="Save" class="pull-right btn btn-primary" style="padding:4px 22px 6px 15px" />
                    </div>

                }

            </div>


        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
        });
    });
</script>
